@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.primary-color {
  color: #fd6e0a;
}
.btn-primary {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  background-color: #fd6e0a;
  padding: 18px 36px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
}

header {
  background-color: #fff8f3;
}

nav {
  padding: 50px 230px;
  display: flex;
  justify-content: space-between;
}

nav h1 {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.navigation {
  display: none;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}

.banner {
  padding: 30px 30px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner-greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  padding-bottom: 20px;
}
.banner p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 585px;
  padding-bottom: 20px;
}

.banner button {
  margin-right: 20px;
}

.banner img {
  width: 584px;
  height: 676px;
}

/* ABOUT SECTION STYLING */

.about {
  margin: 150px 230px;
  padding: 130px 150px;
  width: 90rem;
  height: 550px;
  background-color: #fff8f3;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about h2 {
  color: #181818;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 20px;
}
.about p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0px 150px 15px;
}

.about > ul {
  display: flex;
  justify-content: space-between;
  padding: 20px 180px;
}

.about li {
  list-style: none;
}

.about li span {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.about strong {
  font-weight: 700;
  font-size: 20px;
}

/* EXPERIENCE SECTION STYLING */

.experience {
  margin: 150px 230px;
}

.experience-head h2 {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.experience-head p {
  margin: 30px 180px;
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 910px;
}

.experience-card {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 30px;
  width: 267px;
  height: 377px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.card img {
  /* padding: 30px 0; */
  padding-bottom: 30px;
}

.card h3 {
  color: #181818;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 30px;
}
.card p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  /* padding: 33px; */
}

.resume {
  margin: 150px 230px;
}

.resume h2 {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.education h3,
.certificates h3 {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 30px;
}

.resume .summary {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.education,
.certificates {
  text-align-last: left;
}

.resume-card h4 {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  padding: 30px 0;
}

.resume-card h5 {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
}

.resume-card p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding: 20px 0;
  max-width: 510px;
}

.resume .flex-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-card hr {
  width: 558px;
  height: 1px;
}

footer {
  background-color: #fff8f3;
  padding: 150px 230px;
  display: flex;
  justify-content: space-between;
}

footer h2 {
  color: #181818;
  text-align: left;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 20px;
}

footer .connect p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 20px;
  max-width: 720px;
}

footer .form {
  width: 530px;
}

footer form {
  padding-top: 20px;
}

footer form input,
textarea {
  margin-bottom: 30px;
  font-size: 18px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  width: 530px;
  resize: none;
}
footer form input:focus,
textarea:focus {
  outline: none;
}

.connect .social-icons {
  padding-top: 10px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
